
body {
    text-align: center;
}

h1 {
font-size: 36px;
font-style: italic;
font-weight: 300;
color: #1F2937;
}

h2 {
font-size: 24px;
font-weight: 300;
color: #1F2937;
}
h3 {
font-size: 20px;
font-weight: 550;
color: #1F2937;
}
.rock {
background-color: rgb(73, 53, 53);
color: white;
padding: 10px 20px;
border: solid white 1px;
border-radius: 5px;
font-size: 14px;
font-weight: 550;
cursor: pointer;
width: 100px;
height: auto;
/* display: flex;
flex-shrink: 0; */
}

.paper {
background-color: rgb(52, 124, 58);
color: white;
padding: 10px 20px;
border: solid white 1px;
border-radius: 5px;
font-size: 14px;
font-weight: 550;
cursor: pointer;
width: 100px;
height: auto;
}

.scissors {
background-color: rgb(134, 3, 3);
color: white;
padding: 10px 20px;
border: solid white 1px;
border-radius: 5px;
font-size: 14px;
font-weight: 550;
cursor: pointer;
width: 100px;
height: auto;
}


.round {
font-size: 26px;
font-weight: 300;
color: #1F2937;
}

.score {
font-size: 40px;
font-weight: 550;
color: #2926dd;
}